@import url("https://@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Noto Sans TC";
}
body {
  min-height: 100vh;
}
ul{
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
.container {
  display: grid;
  position: relative;
}

/* topmenu bar start */
.topmenu {
  background-color: #ffffff;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
  overflow: hidden;
  z-index: 999;
}
.nav-box {
  display: grid;
  height: 54px;
  justify-items: center;
  align-items: center;
}
.nav {
  width: 1200px;
  height: 34px;
  display: grid;
  grid-template-columns: auto 90px 90px;
  align-items: center;
  align-content: center;
}

.rightbar a {
  width: 64px;
  height: 14px;
  font-size: 16px;
  font-weight: 500;
  color: #666666;
}
.rightbar a:nth-child(1) {
  padding-right: 20px;
}
.leftbar {
  font-size: 30px;
  font-weight: 700;
  padding: 10px 0px 10px 0px;
  color: #448899;
}
/* topmenu bar end */

/* header start */
.header {
  height: 320px;
  top: 54px;
  background: url(img/welcome.png) no-repeat;
  background-size: cover;
  background-color: rgb(57, 95, 86);
  border: 1px solid #ffffff;
}
.w {
  width: 1200px;
  margin: 0 auto;
}

.head-textbox {
  display: grid;
  height: 320px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 0.1fr 1fr;
  justify-items: start;
}
.head-textbox .text1 {
  margin-top: 85px;
  height: 41px;
  font-size: 28px;
  line-height: 24px;
  font-weight: 700;
  color: #f8f8f8;
}
.head-textbox p {
  height: 22px;
  font-size: 16px;
  font-weight: 700;
  color: #f8f8f8;
}
.head-textbox .search {
  padding-top: 25px;
  position: relative;
}
.head-textbox input {
  width: 400px;
  height: 46px;
  padding: 15px;
  border: none;
  outline: none;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
   
}
.head-textbox button {
  width: 60px;
  height: 46px;
  font-size: 16px;
  border: 0;
  background-color: #448899;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  position: relative;
}
.head-textbox button::after {
  position: absolute;
  top: 8px;
  left: 13px;
  width: 30px;
  height: 30px;
  content: "";
  background: url(icon/icon_search.png) no-repeat;
}
.cat-list{
  width: 100%;
  background-color: #000000;
  color: #ffffff;
  opacity: 0.7;
  cursor: pointer;
  border-radius: 5px;
  position: absolute;
  top: 71;
  left: 0;
  z-index: 10;
  display: none;
}
.cat-list .cat{
  padding: 5px;
  font-size: 16px;
  
}

/* header end */

/* main-content start */
.main-content {
  display: grid;
  column-gap: 10px;
  row-gap: 40px;
  width: 1200px;
  height: auto;
  margin: 55px auto;
  justify-content: center;
}
.topbox {
  display: grid;
  height: 50px;
  column-gap: 10px;
  grid-template-columns: repeat(2, 1fr);
}
.l-box,
.r-box {
  background-color: rgb(57, 95, 86);
}
.topbox img {
  width: 80px;
  height: 50px;
  vertical-align: middle;
}
.topbox p {
  display: inline-block;
}
.content {
  display: grid;
  grid-template-columns: repeat(4, 270px); /*設定 Grid 為4欄，每欄寬度為四分之一。 等同於 grid-template-columns: 1fr 1fr 1fr 1fr*/
  grid-template-rows: repeat(3, 242px);
  column-gap: 30px; /* 設定欄位間的左右間距 (不含最左/最右) */
  row-gap: 30px; /* 設定欄位間上下間距 (不含最上/最下) */
}
.photo {
  display: grid;
  grid-template-columns: 1fr;
  /* grid-template-rows: repeat(2, 1fr); */
}
.photo a {
  position: relative;
  width: 270px;
  height: 197px;
  object-fit: cover ;
  object-position: center center;
  
}
.photo img {
  width: 100%;
  height: 100%;
   object-fit: cover;
   border-radius: 5px 5px  0  0 ;
}
.photo a span {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  color: #ffffff;
  font-weight: 700;
  font-size: 16px;
  padding: 10px;
  background-color: #000000;
  opacity: 0.6;
}
.photo .photo-down {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  border: 1px solid rgb(201, 200, 200);
  border-radius: 0px 0px  5px  5px ;
}
.photo-down p:first-child {
  text-align: start;
  margin: 10px 0px 10px 10px;
}
.photo-down p {
  height: 25px;
  font-size: 16px;
  font-weight: 500;
  margin: 10px 10px 10px 0;
  color: #757575;
  text-align: end;
}
/* main-content end */

/* footer start */
footer {
  display: grid;
  width: 100vw;
  height: 104px;
  background-color: #757575;
  align-content: center;
  justify-content: center;
}
.footer-box {
  width: 234px;
  height: 14px;
  width: 234px;
  font-size: 15px;
  font-weight: 700;
  color: #ffffff;
}

@media (max-width: 1200px) {
  .nav {
    width: 90vw;
  }
  .w {
    width: 90vw;
  }
  .main-content {
    width: 90vw;
    height: auto;
  }
  .content {
    grid-template-columns: repeat(2, 296px);
  }
  .photo a {
    width: 296px;
  }
}
@media (max-width: 600px) {
  .nav {
    width: 90vw;
  }
  .w {
    width: 90vw;
  }
  .main-content {
    width: 90vw;
    height: auto;
  }
  .content {
    grid-template-columns: repeat(1, 322px);
    row-gap: 40px;
  }
  .head-textbox .search input {
    width: 230px;
  }
   .photo a {
    width: 322px;
  }
}
